.cards {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  grid: 1fr 1fr / 1fr 1fr 1fr;
  list-style-type: none;
  margin: 60px auto 0;
  padding: 0;
  width: 920px;
  row-gap: 60px;
}
