.footer__column-link {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: white;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.footer__column-link:hover {
  opacity: 0.6;
}
